.CreateTodoBottom{
    background-color: #10366f;
    box-shadow: 0px 5px 50px rgba(56, 212, 189, 0.103);
    /* box-shadow: 10 10 10 rgb(66, 66, 234); */
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;

    transform: rotate(0);
    transition: .3s;
    z-index: 1;
}

.CreateTodoBottom:hover{
    transform: rotate(224deg);
    box-shadow: 0px 5px 50px rgba(59, 7, 42, 0.103);
}