*{
  margin: 0 auto;
  /* padding: 0; */
}

body { 
  background-color: #0c192c;
  padding: 5px;
}

.container {
  position: relative;
  /* width: 100%; */
  /* height: 100vh; */
  margin: 0 auto ;
  padding: 10px;
  z-index: -1;
  /* overflow: hidden; */
  background-position: 100% 100%;
  background-position:  right;

  background-position:  right;

}

.bubbles {
  position: relative;
  display: flex;
}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(150s / var(--i));
}

.bubbles span:nth-child(even){
  background: red;
  box-shadow: 0 0 0 10px #36051b44,
  0 0 50px #ff2d75,
  0 0 100px #ff2d75
}

@keyframes animate {
  0%
  {
    transform: translateY(95vh) scale(0);
  }
  100%
  {
    transform: translateY(-10vh) scale(0.25);
  }
}

/* #root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
} */
header{
  height: 100%;
  width: 90%;
  background-color: rgb(53, 146, 146, .2);
  padding: 10px 0 10px;
}

main{
  height: 40%;
  width: 90%;
  /* background-color: red; */
  /* text-align: center; */
  /* margin: 0 auto; */
  /* background-position: 100% 100%; */
  /* background-position:  center; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */

  /* top: 50%; */
  /* left: 50%; */

}
#main--Derecho{
  height: 40%;
  width: 45%;
  /* background-color: green; */
  float: right;
}
#main--Izquierdo{
  height: 40%;
  width: 45%;
  /* background-color: purple; */
  float: left;
}




