.TodoCounter {
    font-size: 25px;
    text-align: center;
    font-family: "Latin Modern Roman";
    font-style: italic;
    font-size: 30px;
    color: white;
}
.TodoCounter--loading{
    opacity: 50%;
}